<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.DrawbackMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.Drawback" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_no" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="service_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="drawback_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="reason" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="refund_way" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_time, user_id, order_no, service_type, drawback_money, reason, refund_way, 
    description, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mmall_drawback
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_drawback
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.Drawback" >
    insert into mmall_drawback (id, order_time, user_id, 
      order_no, service_type, drawback_money, 
      reason, refund_way, description, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{orderNo,jdbcType=BIGINT}, #{serviceType,jdbcType=INTEGER}, #{drawbackMoney,jdbcType=DECIMAL}, 
      #{reason,jdbcType=INTEGER}, #{refundWay,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.pojo.Drawback" >
    insert into mmall_drawback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="drawbackMoney != null" >
        drawback_money,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="refundWay != null" >
        refund_way,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=INTEGER},
      </if>
      <if test="drawbackMoney != null" >
        #{drawbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=INTEGER},
      </if>
      <if test="refundWay != null" >
        #{refundWay,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.Drawback" >
    update mmall_drawback
    <set >
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=INTEGER},
      </if>
      <if test="drawbackMoney != null" >
        drawback_money = #{drawbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=INTEGER},
      </if>
      <if test="refundWay != null" >
        refund_way = #{refundWay,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.Drawback" >
    update mmall_drawback
    set order_time = #{orderTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=BIGINT},
      service_type = #{serviceType,jdbcType=INTEGER},
      drawback_money = #{drawbackMoney,jdbcType=DECIMAL},
      reason = #{reason,jdbcType=INTEGER},
      refund_way = #{refundWay,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserIdAndOrderNo" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from mmall_drawback
    where user_id=#{userId,jdbcType=INTEGER}
    and order_no=#{orderNo}
  </select>
</mapper>